body {
  background-color: #000000cd;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 105px;
  list-style-type: none;
  background-color: #111827;
}
.nav__logo {
  margin-left: 10px;
}
.nav__bar {
  padding-left: 90px;
}
.nav__bar a {
  padding: 20px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
.nav__bar a:hover {
  color: rgb(26, 183, 26);
  padding: 5px 30px;
}
.logo {
  width: 80px;
  height: 80px;
}

/* Aboume me  */
#about {
  margin-top: 10rem;
}
.aboutheader {
  margin-top: 3rem;
  color: black;
  width: 150px;
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid white;
  background-color: #ddd;
}
.abouttext {
  margin-top: 40px;
  color: #ddd;
  font-size: 20px;
  background-color: rgba(28, 21, 21, 0.837);
  width: 28rem;
  margin: 0 auto;
  padding: 40px;
}
