/* home */

.info {
  margin: 0 auto;

  text-align: center;
  color: #ddd;
  background-color: rgba(28, 21, 21, 0.837);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.info img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 10px;
}
.title {
  margin-bottom: 70px;
}
@media screen and (max-width: 450px) {
  .info {
    margin: -85px auto;
  }
}

@media screen and (min-width: 768px) {
  .info {
    padding: 1em 8em;
    flex-direction: column;
  }

  .info img {
    width: 300px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    padding: 1em 15em;
    flex-direction: column;
  }

  .info img {
    width: 400px;
    height: 500px;
  }
}
/* Aboume me  */
#about {
  padding-top: 10rem;
}
.aboutheader {
  margin-top: 1rem;
  color: black;
  width: 150px;
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid white;
  background-color: #ddd;
}
.abouttext {
  margin-top: 40px;
  color: #ddd;
  font-size: 20px;
  background-color: rgba(28, 21, 21, 0.837);
  width: 28rem;
  margin: 0 auto;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .abouttext {
    width: 45rem;
  }
  .aboutheader {
    font-size: 45px;
    width: 30rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .abouttext {
    width: 25rem;
  }
  .aboutheader {
    font-size: 45px;
    width: 15rem;
    margin-bottom: 0rem;
  }
  p {
    font-size: 20px;
  }
  #about {
    padding-top: 7rem;
  }
}

/* Portfolio */
#portfolio {
  margin-top: 3rem;
  padding-top: 10rem;
  position: absolute;
  width: 500px;
  height: 50%;
  top: 10rem;
  left: 1rem;

  background-color: rgba(7, 10, 7, 0.837);
  border-radius: 15%;
  color: white;
  animation: opening 3s linear 1 forwards;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  #portfolio {
    width: 50%;
    left: 30rem;
    border-radius: 80px;
  }
}
@media screen and (min-width: 768px) {
  #portfolio {
    width: 50%;
    left: 13rem;
    border-radius: 60px;
  }
}
@media screen and (max-width: 450px) {
  #portfolio {
    width: 300px;
    left: 4rem;
    border-radius: 50px;
  }
}

#portfolio h1 {
  position: absolute;
  top: 3rem;
  animation: heading 2s 1s 1 forwards ease-in;
  font-size: 4rem;
}

@keyframes heading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;
  animation: fade-out 3s linear 3s;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#portfolio p {
  position: absolute;
  opacity: 0;
  font-size: x-large;
  text-align: left;
  top: 70%;
  animation: load 1s 6s forwards linear;
}

@keyframes load {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    left: 20%;
    opacity: 1;
  }
}

/* Kontakt */

#kontakt {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dGFibGV8ZW58MHx8MHx8&w=1000&q=80);
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kontakth1 {
  color: white;
  margin-top: 70px;
  font-size: 2rem;
}
.kontakth1:hover {
  color: #33ff57;
}
label {
  color: #ddd;
  font-size: 1rem;
}
input {
  margin-bottom: 20px;
  padding: 15px;
  width: 350px;
  background-color: rgb(50, 49, 49);
  opacity: 0.8;
  color: #ddd;
}
textarea {
  width: 400px;
  opacity: 0.8;
  color: #ddd;
  background-color: rgb(50, 49, 49);
  font-size: 1rem;
}
button {
  padding: 1rem 4rem;
  border-radius: 10px;
  border: none;
  color: rgb(246, 243, 243);
  background-color: rgb(136, 30, 30);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 450px) {
  input {
    padding: 15px;
    width: 300px;
    margin-bottom: 0;
  }
  textarea {
    width: 200px;
    height: 100px;
  }
  button {
    padding: 0.5rem 3rem;
  }
}
@media (min-width: 1200px) {
  input {
    font-size: 15px;
    padding: 15px;
    width: 500px;
  }
  textarea {
    width: 600px;
    height: 180px;
    font-size: 2rem;
  }
  label {
    font-size: 25px;
  }
  .kontakth1 {
    font-size: 3rem;
    margin-top: 40px;
  }
}
button {
  font-size: 1.5rem;
}
