* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center;
}
main {
  padding-top: 200px;
}
.logo {
  width: 80px;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 105px;
  list-style-type: none;
  background-color: #111827;
}
.nav__logo {
  margin-left: 10px;
}
.nav__bar {
  padding-left: 90px;
}
.nav__bar a {
  padding: 20px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
.nav__bar :hover {
  background-color: #ddd;
  color: black;
  padding: 5px 30px;
}
.info {
  margin: 0 auto;
  width: 20rem;
  height: 40rem;
  text-align: center;
  color: #ddd;
  background-color: rgba(28, 21, 21, 0.837);
  display: flex;
  flex-direction: column;
}
.info img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 10px;
}
.title {
  margin-bottom: 70px;
}

/* Aboume me  */
#about {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}
.aboutheader {
  color: black;
  width: 200px;
  margin: 60px;
  padding: 20px;
  text-align: center;
  border: 1px solid white;
  background-color: #ddd;
}
.abouttext {
  margin-top: 50px;
  color: #ddd;
  font-size: 25px;
  background-color: rgba(28, 21, 21, 0.837);
  width: 28rem;
  margin: 0 auto;
  padding: 50px;
}
